
th {
  text-align: center;
}


#dateHeader{

    color:white;
    background-color:#DDD;


}
table
{

  max-height:75%;

}

.selected
{
    color:white;
background-color:#DDD;
text-align:center;


}

.alertnatingRows
{

background-color: #EEE;

}

.center{
text-align:center;
}


.rowHeaders
{

text-align:center;

}