@page{
    margin: 0in 0.5in 2.5in 0.5in;
}


.table{
    margin-bottom:0px;
}

.fixTable{
    float:left;
    width: 100%;
    font-size:18px;
}

th {
  text-align: center;
  display: block;
  width: 33%;
  float: left;
}

/*
#tableBody>tr{
    width: 100%;
    float: left;
    display: block;
}
*/

/**/
#tableBody>tr>td{
  text-align: center;
  display: block;
  width: 33%;
  height: 30px;
  float: left;
}

#mainTable{



}

#todaysDate{

    font-size:25px;
    text-align:center;
    color:white;
    background-color:#DDD;
    height:40px;
}

.selected
{
color:#000;
background-color:#B8B8B8;
text-align:center;


}

.alertnatingRows
{

background-color: #DDEBF7;                                                   /* HEADER COLORS */

}

.center{
text-align:center;
}


.rowHeaders
{

text-align:center;
}

.rowHeaders>th{
    display: table-row;
    width: 100%;
}

#mainTable>thead>tr{
    width: 100%;
    background-color:#00F;
    
}

#mainTable>thead>tr>th{
    width: 100%;
    background-color:#808080;                                                  /* HEADER COLORS */
    border-bottom-color:#808080;
}

