
.selected
{

background-color:lightgrey;
text-align:center;
text-emphasis-color:white;

}

.alertnatingRows
{

background-color: #D3D3D3;

}

.center{
text-align:center;
}


.rowHeaders
{

text-align:center;

}